

[build_ext]     
# do not use shell variable they are not expanded :-(
# libunwind inlcude 
include-dirs=/home/clem/projects/FingerPrint/libunwind/libunwind/include
# libunwind shared libraryes paths
library-dirs=/home/clem/projects/FingerPrint/libunwind/libunwind/src/.libs/
